<%- include("partials/header") %>
<link rel="stylesheet" href="/stylesheet/resume.css">


<link href="https://fonts.googleapis.com/css?family=Montserrat:400,700,200" rel="stylesheet" />
<link href="https://use.fontawesome.com/releases/v5.0.6/css/all.css" rel="stylesheet">

<div class="container">
    <section class="container-fluid px-0">
        <div class="px-3 mt-1 py-2 row align-items-center content text-center">           
                <h1 class="fw-bold">Job-winning simple resume <br> templates</h1>
                <p>Each template is expertly designed and follows the exact “resume rules” hiring managers <br> look for. Stand out and get hired faster with field-tested resume templates.</p>
                
        </div>
        <div class="d-flex justify-content-center mb-2">
            <a href="/createresume" class="btn btn-lg btn-secondary">Create My Resume</a>
        </div>
    </section>
</div>










<div class="container mt-5">
<div class="row">
  
  <div class=" ml-auto  mr-auto">
    <!-- Tabs with Background on Card -->
    <div class="card">
      <div class="card-header">
        <ul class="nav nav-tabs nav-tabs-neutral justify-content-center" role="tablist" data-background-color="orange">
          <li class="nav-item">
            <a class="nav-link active" data-bs-toggle="tab" href="#home1" role="tab">Simple</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" data-bs-toggle="tab" href="#profile1" role="tab">Creative</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" data-bs-toggle="tab" href="#messages1" role="tab">Professional</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" data-bs-toggle="tab" href="#settings1" role="tab">Modern</a>
          </li>
        </ul>
      </div>
      <div class="card-body">
        <!-- Tab panes -->
        <div class="tab-content text-center">
          <div class="tab-pane active" id="home1" role="tabpanel">
            <p>I think that’s a responsibility that I have, to push possibilities, to show people, this is the level that things could be at. So when you get something that has the name Kanye West on it, it’s supposed to be pushing the furthest possibilities. I will be the leader of a company that ends up being worth billions of dollars, because I got the answers. I understand culture. I am the nucleus.</p>
          </div>
          <div class="tab-pane" id="profile1" role="tabpanel">
            <p> I will be the leader of a company that ends up being worth billions of dollars, because I got the answers. I understand culture. I am the nucleus. I think that’s a responsibility that I have, to push possibilities, to show people, this is the level that things could be at. I think that’s a responsibility that I have, to push possibilities, to show people, this is the level that things could be at. </p>
          </div>
          <div class="tab-pane" id="messages1" role="tabpanel">
            <p>333333333333 I think that’s a responsibility that I have, to push possibilities, to show people, this is the level that things could be at. So when you get something that has the name Kanye West on it, it’s supposed to be pushing the furthest possibilities. I will be the leader of a company that ends up being worth billions of dollars, because I got the answers. I understand culture. I am the nucleus.</p>
          </div>
          <div class="tab-pane" id="settings1" role="tabpanel">
            <p>
              " 4444444444444444 I will be the leader of a company that ends up being worth billions of dollars, because I got the answers. I understand culture. I am the nucleus. I think that’s a responsibility that I have, to push possibilities, to show people, this is the level that things could be at."
            </p>
          </div>
        </div>
      </div>
    </div>
    <!-- End Tabs on plain Card -->
  </div>
</div>
</div>














<div class="py-3 seventh">
    <section class="px-0 ">
        <div class="px-3 py-4 row align-items-center content text-center text-light">
                <h5>Connect with us on Social media</h5>
                <div>
                    <i class="px-2 fab fa-facebook fa-2x"></i>
                    <i class="px-2 fab fa-linkedin fa-2x"></i>
                    <i class="px-2 fab fa-twitter-square fa-2x"></i>
                </div>
        </div>
    </section>

    <footer class="py-3 d-flex justify-content-center mt-auto text-white-50 seventh ">
        <p>&copy; 2021 - ResumeBuilder </p>
    </footer>
</div>


<%- include("partials/footer") %>

